{% extends 'bigbox/index.html' %} {% block content %}

    {% for activity in box_activities %}
        <div class="card mb-4 box-shadow" >
            <div class="card-body">
                <h2><a href="{% url 'single_box_activity' box.id activity.id %}">{{ activity.name }}</h2></a>
                <p class="text-muted">{{ activity.category.name}}</p>
            </div>
        </div>
    {% endfor %}

    <ul class="pagination justify-content-center">
      
        {% if box_activities.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ box_activities.previous_page_number }}"><</a>
        </li>
        {% endif %}

        <li class="page-item">
          <div class="page-link btn disabled">
              Página {{ box_activities.number }} de {{ box_activities.paginator.num_pages }}.
          </div>  
        </li>

        {% if box_activities.has_next %}
        <a class="page-link" href="?page={{ box_activities.next_page_number }}">></a>
        <a class="page-link" href="?page={{ box_activities.paginator.num_pages }}">&raquo;</a>

        {% endif %}
      
    </div>
    {% endblock content %}
  </div>
</div>
